@page
@model IndexModel
@{
    ViewData["Title"] = "FR8";
}

<h1>Freight System</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFreights.ToArray()[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFreights.ToArray()[0].CarrierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFreights.ToArray()[0].FromState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFreights.ToArray()[0].ToState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFreights.ToArray()[0].LoadWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFreights.ToArray()[0].ChargeAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFreights.ToArray()[0].TaxPersent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFreights.ToArray()[0].TotalAmount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerFreights)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarrierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxPersent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
        </tr>
        }
    </tbody>
</table>
